<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PasswordText.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>845EB13E1E7B7CF20078F53D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>845EB1571E7B7CF30078F53D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>845EB1621E7B7CF30078F53D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
